body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: rgb(9, 133, 171);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  flex: 1;
}

.menu > li {
  margin-bottom: 10px;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.submenu {
  list-style: none;
  padding-left: 20px;
  display: none;
}

.submenu > li {
  margin-bottom: 10px;
}

.submenu a {
  color: white;
  text-decoration: none;
}

.submenu a:hover {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h2 {
  font-size: 24px;
}

.image-placeholder {
  width: 100%;
  height: 300px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.hamburger-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    
  }
  .hamburger-menu {
    display: block;
  }
  
  .sidebar {
    width: 100%;
    display: none;
  }

  .sidebar.open {
    display: block; /* Açıldığında göster */
  }
  
 
}
.product-image {
  width: 100%;
  height: 300px;
  object-fit: cover; /* Görselin boyutlarını koruyarak alanı doldurur */
  margin-bottom: 20px;
}

.menu-btn, .subheader-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

.submenu, .sub-submenu {
  list-style: none;
  padding-left: 20px;
}

.submenu {
  margin-top: 10px;
}

.subheader-btn {
  font-size: 16px;
  padding-left: 20px;
  color: #F0A411; /* Subheader rengini ayarla */
}

.sub-submenu li {
  margin-bottom: 5px;
}

.sub-submenu a {
  color: white;
  text-decoration: none;
}

.sub-submenu a:hover {
  text-decoration: underline;
}

.content h1 {
  color: white;
  background-color: rgb(9, 133, 171);
  padding: 10px; /* Opsiyonel: Metni daha iyi göstermek için padding ekleyebilirsiniz */
  border-radius: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px; /* Header içeriğine padding ekledik */
}

.header .header-title {
  color: rgb(9, 133, 171); /* Text rengi ayarlandı */
  padding: 10px;
  border-radius: 32px;
  margin: 0; /* Varsayılan marjinleri kaldır */
  text-align: center;
  flex: 1; /* Ortalamak için flex büyüme */
}

#search-input {
  padding: 10px 80px 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  #search-input {
    margin-top: 10px;
    width: 100%;
  }
}


#search-results {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%; /* Search input'un hemen altına */
  left: 0;
  width: calc(50% - 40px); /* Search input genişliğine göre ayarlanır */
  margin-top: 20px; /* 20px boşluk bırak */
}

#search-results li {
  padding: 10px;
  cursor: pointer;
}

#search-results li a {
  text-decoration: none;
  color: black;
}

#search-results li:hover {
  background-color: #f0f0f0;
}

